.author-info-description
  font-style: italic
  font-size: 15px
  color: #888
  margin-top: 0.5em


// 全局背景色
body,
.page,
.header,
.footer,
.main {
  background-color: #fff8e7 !important; // 奶油白
}

#aside-content .card-info #card-info-btn {
  background-color: #3b7d99
  
}

#card-info-btn > span,#card-info-btn > i{
  color: #000

}

// 链接颜色
a {
  color: #3b7d99 !important; // 应用到所有链接
}
.framework-info a {
  color: #000 !important; // 应用到所有链接
}
a:hover {
  color: #bb4d3b !important; // 应用到所有链接的hover状态
}
.framework-info a:hover {
  color: #fff !important; // 应用到所有链接
}

// 导航栏磨砂玻璃效果
#nav #menus{
  background: rgba(250, 255, 255, 0.21); // 半透明奶油白背景
  backdrop-filter: saturate(150%) blur(10px); // 磨砂玻璃效果
  border-radius: 8px; // 可选：为导航栏添加圆角
  padding: 6px 6px 5px 0px; // 可选：增加一些内边距
}










// 文章块背景
#post,.card-widget {
  background: rgba(250, 245, 235, 0.9) !important;  /* 柔和奶油白 */
  backdrop-filter: saturate(150%) blur(10px);
}